


/* 2.div arama butonu oluşturma*/




/*
.menu{
    background-color: cadetblue;
    float: left;
    position: relative;
    width: 100px;
    height: 25px;
}/*
.menu ul{
    background-color: aquamarine;
    list-style: none;
}
.menu li{
    position: relative;
}
.menu ul li ul li a{
   
    background-color: gray;
}
.menu ul li ul li a{
    color: black;
    text-underline-offset: none;
}
.menu ul li ul{
    display: none;
}
 
.menu ul li:hover ul{
    display: block;
}
   
.menu ul li a{
    text-decoration: none;
    background: #333;
    display: block;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    /*border-bottom: 2px solid red;
    border-left: 1px solid #595959;
    padding: 7px;
}
   
.menu ul li ul li a{
    background: #595959;
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid #333;
    font-size: .8em;
}
   
.menu li a:hover{
    background: rgb(248,140,0);
    transition: .5s;
}
   
.menu ul li ul li a:hover{
    padding-left: 15px;
    
}
*/